.cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 596px;
    height: 100%;
    background-color: var(--neutral-color-max);
    border-radius: 12px 0 0 12px;
    animation: slideInFromRight 0.5s ease-in-out;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 150px;
    padding: 32px;
    max-width: calc(100% - 68px);
    background-color: var(--neutral-color-min-100);
    border-radius: 12px 0 0 12px;
}

.title {
    width: 380px;
    color: var(--neutral-color-max);
}

.footer {
    height: 108px;
    width: 100%;
    max-width: calc(100% - 64px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px 12px 0px 12px;
    background-color: var(--neutral-color-max);
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;

}

.return-buying {
    font-size: var(--font-size-m);
    color: var(--primary-color-200);
    cursor: pointer;
    text-decoration: underline;
}

.return-buying:hover {
    color: var(--primary-color);
}

.return-buying:active {
    color: var(--primary-color-500);
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}