.container {
    width: 100%;
    max-width: 1440px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 32px;
}

.active {
    color: var(--primary-color-500);
}

.icon {
    height: 16px;
    width: 16px;
}